<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/app.css">

<div class="flex-container">
    <div class="container">
        <h1> JOIN US </h1>
        <p> Enter your email to join <strong>
                <%= count %>
            </strong> others on our waitlist. We aree 100% not a cult.
        <p>

        <form method="POST" action='/register'>
            <input class="form" type="text" name="email" placeholder="Enter Your Email" value=''>
            <button>
                Join Now
            </button>
        </form>
    </div>

</div>
<